* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Define o modelo de caixa dos elementos como "border-box" */
}

body {
  background-color: #338cf4;
}

.container {
  background-color: #ffffff;
  width: 90vmin;
  padding: 50px 30px;
  position: absolute;
  transform: translate(
    -50%,
    -50%
  ); /* move o elemento 50% para cima e 50% para a esquerda */
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

button {
  height: 28px;
  width: 29px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none; /*Remove a borda do botão*/
  background-color: #ffffff;
  outline: none; /*Remove a borda de destaque ao focar no botão, melhorando a estética */
  color: #020929;
}

select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
}

.options label,
.options select {
  font-family: "Poppins" sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="color"] {
  -webkit-appearance: none; /* Essas propriedades são usadas para remover a aparência padrão do navegador do elemento */
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer; /* faz mudar o cursor do mouse para indicar que é interativo */
}

/* Estilização específica para o seletor de cores em navegadores WebKit, como Chrome ou Safari */
input[type="color"]::-webkit-color-swatch {
  /* Adiciona cantos arredondados à caixa de seleção de cores */
  border-radius: 15px;
  /* Adiciona uma sombra para realçar a caixa de seleção de cores */
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

#text-input {
  margin-top: 10px;
  border: 1px solid #dddddd;
  padding: 20px;
  height: 50vh;
}

.active {
  background-color: #e0e9ff;
}
